

h1 {
    text-align: center;
    color: #3C477D;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    color: #3C477D;
    border-bottom: 1px solid #4B589A;
}