@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);
body {
    vertical-align: middle;
    display: flex;
    font-family: 'Calibri', sans-serif !important;
    background-color: #eee
}

.mt-100 {
    margin-top: 100px
}

.product-wrapper,
.product-img {
    overflow: hidden;
    position: relative
}

.mb-45 {
    margin-bottom: 45px
}

.product-action {
    bottom: 0px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.6s ease 0s
}

.product-wrapper {
    border-radius: 10px
}

.product-img>span {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px
}

.product-action-style {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    display: inline-block;
    padding: 16px 2px 12px
}

.product-action-style>a {
    color: #979797;
    line-height: 1;
    padding: 0 21px;
    position: relative
}

.product-action-style>a.action-plus {
    font-size: 18px
}

.product-wrapper:hover .product-action {
    bottom: 20px;
    opacity: 1
}

@keyframes typing1 {
    from {
        width: 0
    }
    to {
        width: 29ch
    }
}

@keyframes typing2 {
    from {
        width: 0
    }
    to {
        width: 21ch
    }
}

@keyframes typing3 {
    from {
        width: 0
    }
    to {
        width: 21ch
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: white;
    }
}

.content {
    border-radius: 2rem;
    background-color: #2828288a;
}

.row {
    display: flex;
    justify-content: space-around;
}

.carousel-inner {
    width: 50%;
    height: auto;
    z-index: 4;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel-inner .heads {
    position: absolute;
    top: 50%;
    /* Adjust this value to position the text vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    /* Ensure the text is above the images */
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    font-family: "Reddit Mono", monospace;
    font-size: 14pt;
}

.carousel-inner h1 {
    animation: typing1 3.5s steps(29, end), blink-caret .75s step-end infinite;
    width: 29ch;
}

.carousel-inner h2 {
    animation: typing2 3.5s steps(21, end), blink-caret .75s step-end infinite;
    width: 21ch;
}

.carousel-inner h3 {
    animation: typing2 3.5s steps(22, end), blink-caret .75s step-end infinite;
    width: 22ch;
}

.carousel-inner #c2 {
    background-color: rgba(0, 0, 0, 0.715);
}