@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 28ch
    }
    /* This makes the animation cover only the content of the h1 tag */
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: white;
    }
}

.carousel-inner {
    position: relative;
}

.carousel-inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* existing styles */
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    animation: typing 3.5s steps(28, end), blink-caret .75s step-end infinite;
    width: 28ch;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: auto;
    z-index: 4;
}