#content {
    width: 70%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 50px #4B589A;
    z-index: 2;
    color: black;
}

h1 {
    text-align: center;
    color: #3C477D; 
}

h2{
   text-align: center;
    color: #3C477D; 
}

#displayText
{    
margin-top:20px;    
font-size:18px;
}

#displayImage
{    
margin-top:20px;    
max-width:100%;    
height: auto;    
border:1px solid #ccc;    
padding:10px;    
background-color:#fff;
}

.btn btn-primary{
    background-color: #3C477D !important;
}