#content {
    width: 70%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 50px #4B589A;
    z-index: 2;
    color: black;
}

br{
    color: #3C477D;
}

h1 {
    text-align: center;
    color: #3C477D; 
}

h2{
   text-align: center;
    color: #3C477D; 
}