        h1 {
            text-align: center;
            color: white!important;
        }
        
        h5 {
            text-align: center;
            color: white!important;
        }
        
        .card-header {
            background-color: #16171a !important;
        }
        
        
        
        .card-body {
            background-color: #24252b !important;
            color: white;
        }

        p{
            color: white;
        }